In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv(r'data\train.csv')
df2 = pd.read_csv(r'data\test.csv')
print(df1.shape)
df1.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(df2.shape)
df2.head()

(418, 11)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
data = pd.concat([df1,df2])
data

c:\users\prateek\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [5]:
data=data.dropna(subset=['Survived'])

In [6]:
data['Has_Cabin']=data['Cabin'].isnull()

c:\users\prateek\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [7]:
import re 
def split_it(name):
    match = re.search("(Mr|Mrs|Master|Miss)", name)
    if match:
        return match.group()

data["Titles"] = data['Name'].apply(split_it)
data

c:\users\prateek\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Titles
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,True,Mr
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,False,Mr
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,True,Miss
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,False,Mr
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,True,Mr
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,True,Mr
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,False,Mr
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,True,Master
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,True,Mr
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,True,Mr
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,False,Miss
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,False,Miss
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,True,Mr
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,True,Mr
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,True,Miss
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,True,Mr
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,True,Master
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,True,Mr
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,True,Mr
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,True,Mr
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,True,Mr
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,False,Mr
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,True,Miss
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,False,Mr
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,True,Miss
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,True,Mr
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,True,Mr
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,False,Mr
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,True,Miss
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,True,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.0,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,True,Mr
862,48.0,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,False,Mr
863,NaN,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,True,Miss
864,24.0,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,True,Mr
865,42.0,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,True,Mr
866,27.0,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,True,Miss
867,31.0,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,False,Mr
868,NaN,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,True,Mr
869,4.0,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,True,Master
870,26.0,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,True,Mr
871,47.0,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,False,Mr
872,33.0,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,False,Mr
873,47.0,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,True,Mr
874,28.0,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,True,Mr
875,15.0,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,True,Miss
876,20.0,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,True,Mr
877,19.0,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,True,Mr
878,NaN,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,True,Mr
879,56.0,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,False,Mr
880,25.0,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,True,Mr
881,33.0,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,True,Mr
882,22.0,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,True,Miss
883,28.0,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,True,Mr
884,25.0,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,True,Mr
885,39.0,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,True,Mr
886,27.0,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,True,None
887,19.0,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,False,Miss
888,NaN,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,True,Miss
889,26.0,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,False,Mr
890,32.0,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,True,Mr

In [8]:
data=data.fillna(data.mean())

In [9]:
data['Categorical_age'] = pd.qcut(data['Age'],3,labels=['Child','Adult','Senior-citizen'])

data['Categorical_fare'] = pd.qcut(data['Fare'],3,labels=['Low','Medium','High'])

In [10]:
data

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,Has_Cabin,Titles,Categorical_age,Categorical_fare
0,22.000000,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,True,Mr,Child,Low
1,38.000000,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,False,Mr,Senior-citizen,High
2,26.000000,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,True,Miss,Adult,Low
3,35.000000,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,False,Mr,Senior-citizen,High
4,35.000000,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,True,Mr,Senior-citizen,Low
5,29.699118,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,True,Mr,Adult,Low
6,54.000000,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,False,Mr,Senior-citizen,High
7,2.000000,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,True,Master,Child,Medium
8,27.000000,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,True,Mr,Adult,Medium
9,14.000000,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,True,Mr,Child,High
10,4.000000,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,False,Miss,Child,Medium
11,58.000000,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,False,Miss,Senior-citizen,High
12,20.000000,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,True,Mr,Child,Low
13,39.000000,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,True,Mr,Senior-citizen,High
14,14.000000,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,True,Miss,Child,Low
15,55.000000,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,True,Mr,Senior-citizen,Medium
16,2.000000,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,True,Master,Child,High
17,29.699118,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,True,Mr,Adult,Medium
18,31.000000,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,True,Mr,Adult,Medium
19,29.699118,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,True,Mr,Adult,Low
20,35.000000,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,True,Mr,Senior-citizen,Medium
21,34.000000,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,False,Mr,Senior-citizen,Medium
22,15.000000,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,True,Miss,Child,Low
23,28.000000,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,False,Mr,Adult,High
24,8.000000,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,True,Miss,Child,Medium
25,38.000000,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,True,Mr,Senior-citizen,High
26,29.699118,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,True,Mr,Adult,Low
27,19.000000,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,False,Mr,Child,High
28,29.699118,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,True,Miss,Adult,Low
29,29.699118,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,True,Mr,Adult,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,21.000000,NaN,S,11.5000,"Giles, Mr. Frederick Edward",0,862,2,male,1,0.0,28134,True,Mr,Child,Medium
862,48.000000,D17,S,25.9292,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,863,1,female,0,1.0,17466,False,Mr,Senior-citizen,Medium
863,29.699118,NaN,S,69.5500,"Sage, Miss. Dorothy Edith ""Dolly""",2,864,3,female,8,0.0,CA. 2343,True,Miss,Adult,High
864,24.000000,NaN,S,13.0000,"Gill, Mr. John William",0,865,2,male,0,0.0,233866,True,Mr,Child,Medium
865,42.000000,NaN,S,13.0000,"Bystrom, Mrs. (Karolina)",0,866,2,female,0,1.0,236852,True,Mr,Senior-citizen,Medium
866,27.000000,NaN,C,13.8583,"Duran y More, Miss. Asuncion",0,867,2,female,1,1.0,SC/PARIS 2149,True,Miss,Adult,Medium
867,31.000000,A24,S,50.4958,"Roebling, Mr. Washington Augustus II",0,868,1,male,0,0.0,PC 17590,False,Mr,Adult,High
868,29.699118,NaN,S,9.5000,"van Melkebeke, Mr. Philemon",0,869,3,male,0,0.0,345777,True,Mr,Adult,Medium
869,4.000000,NaN,S,11.1333,"Johnson, Master. Harold Theodor",1,870,3,male,1,1.0,347742,True,Master,Child,Medium
870,26.000000,NaN,S,7.8958,"Balkic, Mr. Cerin",0,871,3,male,0,0.0,349248,True,Mr,Adult,Low
871,47.000000,D35,S,52.5542,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,872,1,female,1,1.0,11751,False,Mr,Senior-citizen,High
872,33.000000,B51 B53 B55,S,5.0000,"Carlsson, Mr. Frans Olof",0,873,1,male,0,0.0,695,False,Mr,Senior-citizen,Low
873,47.000000,NaN,S,9.0000,"Vander Cruyssen, Mr. Victor",0,874,3,male,0,0.0,345765,True,Mr,Senior-citizen,Medium
874,28.000000,NaN,C,24.0000,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,875,2,female,1,1.0,P/PP 3381,True,Mr,Adult,Medium
875,15.000000,NaN,C,7.2250,"Najib, Miss. Adele Kiamie ""Jane""",0,876,3,female,0,1.0,2667,True,Miss,Child,Low
876,20.000000,NaN,S,9.8458,"Gustafsson, Mr. Alfred Ossian",0,877,3,male,0,0.0,7534,True,Mr,Child,Medium
877,19.000000,NaN,S,7.8958,"Petroff, Mr. Nedelio",0,878,3,male,0,0.0,349212,True,Mr,Child,Low
878,29.699118,NaN,S,7.8958,"Laleff, Mr. Kristo",0,879,3,male,0,0.0,349217,True,Mr,Adult,Low
879,56.000000,C50,C,83.1583,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,880,1,female,0,1.0,11767,False,Mr,Senior-citizen,High
880,25.000000,NaN,S,26.0000,"Shelley, Mrs. William (Imanita Parrish Hall)",1,881,2,female,0,1.0,230433,True,Mr,Child,Medium
881,33.000000,NaN,S,7.8958,"Markun, Mr. Johann",0,882,3,male,0,0.0,349257,True,Mr,Senior-citizen,Low
882,22.000000,NaN,S,10.5167,"Dahlberg, Miss. Gerda Ulrika",0,883,3,female,0,0.0,7552,True,Miss,Child,Medium
883,28.000000,NaN,S,10.5000,"Banfield, Mr. Frederick James",0,884,2,male,0,0.0,C.A./SOTON 34068,True,Mr,Adult,Medium
884,25.000000,NaN,S,7.0500,"Sutehall, Mr. Henry Jr",0,885,3,male,0,0.0,SOTON/OQ 392076,True,Mr,Child,Low
885,39.000000,NaN,Q,29.1250,"Rice, Mrs. William (Margaret Norton)",5,886,3,female,0,0.0,382652,True,Mr,Senior-citizen,High
886,27.000000,NaN,S,13.0000,"Montvila, Rev. Juozas",0,887,2,male,0,0.0,211536,True,None,Adult,Medium
887,19.000000,B42,S,30.0000,"Graham, Miss. Margaret Edith",0,888,1,female,0,1.0,112053,False,Miss,Child,High
888,29.699118,NaN,S,23.4500,"Johnston, Miss. Catherine Helen ""Carrie""",2,889,3,female,1,0.0,W./C. 6607,True,Miss,Adult,Medium
889,26.000000,C148,C,30.0000,"Behr, Mr. Karl Howell",0,890,1,male,0,1.0,111369,False,Mr,Adult,High
890,32.000000,NaN,Q,7.7500,"Dooley, Mr. Patrick",0,891,3,male,0,0.0,370376,True,Mr,Senior-citizen,Low

In [11]:
data=data.drop(['PassengerId','Cabin','Age','Fare','SibSp','Parch'],axis=1)
data

,Embarked,Name,Pclass,Sex,Survived,Ticket,Has_Cabin,Titles,Categorical_age,Categorical_fare
0,S,"Braund, Mr. Owen Harris",3,male,0.0,A/5 21171,True,Mr,Child,Low
1,C,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,1.0,PC 17599,False,Mr,Senior-citizen,High
2,S,"Heikkinen, Miss. Laina",3,female,1.0,STON/O2. 3101282,True,Miss,Adult,Low
3,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,1.0,113803,False,Mr,Senior-citizen,High
4,S,"Allen, Mr. William Henry",3,male,0.0,373450,True,Mr,Senior-citizen,Low
5,Q,"Moran, Mr. James",3,male,0.0,330877,True,Mr,Adult,Low
6,S,"McCarthy, Mr. Timothy J",1,male,0.0,17463,False,Mr,Senior-citizen,High
7,S,"Palsson, Master. Gosta Leonard",3,male,0.0,349909,True,Master,Child,Medium
8,S,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",3,female,1.0,347742,True,Mr,Adult,Medium
9,C,"Nasser, Mrs. Nicholas (Adele Achem)",2,female,1.0,237736,True,Mr,Child,High
10,S,"Sandstrom, Miss. Marguerite Rut",3,female,1.0,PP 9549,False,Miss,Child,Medium
11,S,"Bonnell, Miss. Elizabeth",1,female,1.0,113783,False,Miss,Senior-citizen,High
12,S,"Saundercock, Mr. William Henry",3,male,0.0,A/5. 2151,True,Mr,Child,Low
13,S,"Andersson, Mr. Anders Johan",3,male,0.0,347082,True,Mr,Senior-citizen,High
14,S,"Vestrom, Miss. Hulda Amanda Adolfina",3,female,0.0,350406,True,Miss,Child,Low
15,S,"Hewlett, Mrs. (Mary D Kingcome)",2,female,1.0,248706,True,Mr,Senior-citizen,Medium
16,Q,"Rice, Master. Eugene",3,male,0.0,382652,True,Master,Child,High
17,S,"Williams, Mr. Charles Eugene",2,male,1.0,244373,True,Mr,Adult,Medium
18,S,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",3,female,0.0,345763,True,Mr,Adult,Medium
19,C,"Masselmani, Mrs. Fatima",3,female,1.0,2649,True,Mr,Adult,Low
20,S,"Fynney, Mr. Joseph J",2,male,0.0,239865,True,Mr,Senior-citizen,Medium
21,S,"Beesley, Mr. Lawrence",2,male,1.0,248698,False,Mr,Senior-citizen,Medium
22,Q,"McGowan, Miss. Anna ""Annie""",3,female,1.0,330923,True,Miss,Child,Low
23,S,"Sloper, Mr. William Thompson",1,male,1.0,113788,False,Mr,Adult,High
24,S,"Palsson, Miss. Torborg Danira",3,female,0.0,349909,True,Miss,Child,Medium
25,S,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",3,female,1.0,347077,True,Mr,Senior-citizen,High
26,C,"Emir, Mr. Farred Chehab",3,male,0.0,2631,True,Mr,Adult,Low
27,S,"Fortune, Mr. Charles Alexander",1,male,0.0,19950,False,Mr,Child,High
28,Q,"O'Dwyer, Miss. Ellen ""Nellie""",3,female,1.0,330959,True,Miss,Adult,Low
29,S,"Todoroff, Mr. Lalio",3,male,0.0,349216,True,Mr,Adult,Low
...,...,...,...,...,...,...,...,...,...,...
861,S,"Giles, Mr. Frederick Edward",2,male,0.0,28134,True,Mr,Child,Medium
862,S,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",1,female,1.0,17466,False,Mr,Senior-citizen,Medium
863,S,"Sage, Miss. Dorothy Edith ""Dolly""",3,female,0.0,CA. 2343,True,Miss,Adult,High
864,S,"Gill, Mr. John William",2,male,0.0,233866,True,Mr,Child,Medium
865,S,"Bystrom, Mrs. (Karolina)",2,female,1.0,236852,True,Mr,Senior-citizen,Medium
866,C,"Duran y More, Miss. Asuncion",2,female,1.0,SC/PARIS 2149,True,Miss,Adult,Medium
867,S,"Roebling, Mr. Washington Augustus II",1,male,0.0,PC 17590,False,Mr,Adult,High
868,S,"van Melkebeke, Mr. Philemon",3,male,0.0,345777,True,Mr,Adult,Medium
869,S,"Johnson, Master. Harold Theodor",3,male,1.0,347742,True,Master,Child,Medium
870,S,"Balkic, Mr. Cerin",3,male,0.0,349248,True,Mr,Adult,Low
871,S,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",1,female,1.0,11751,False,Mr,Senior-citizen,High
872,S,"Carlsson, Mr. Frans Olof",1,male,0.0,695,False,Mr,Senior-citizen,Low
873,S,"Vander Cruyssen, Mr. Victor",3,male,0.0,345765,True,Mr,Senior-citizen,Medium
874,C,"Abelson, Mrs. Samuel (Hannah Wizosky)",2,female,1.0,P/PP 3381,True,Mr,Adult,Medium
875,C,"Najib, Miss. Adele Kiamie ""Jane""",3,female,1.0,2667,True,Miss,Child,Low
876,S,"Gustafsson, Mr. Alfred Ossian",3,male,0.0,7534,True,Mr,Child,Medium
877,S,"Petroff, Mr. Nedelio",3,male,0.0,349212,True,Mr,Child,Low
878,S,"Laleff, Mr. Kristo",3,male,0.0,349217,True,Mr,Adult,Low
879,C,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",1,female,1.0,11767,False,Mr,Senior-citizen,High
880,S,"Shelley, Mrs. William (Imanita Parrish Hall)",2,female,1.0,230433,True,Mr,Child,Medium
881,S,"Markun, Mr. Johann",3,male,0.0,349257,True,Mr,Senior-citizen,Low
882,S,"Dahlberg, Miss. Gerda Ulrika",3,female,0.0,7552,True,Miss,Child,Medium
883,S,"Banfield, Mr. Frederick James",2,male,0.0,C.A./SOTON 34068,True,Mr,Adult,Medium
884,S,"Sutehall, Mr. Henry Jr",3,male,0.0,SOTON/OQ 392076,True,Mr,Child,Low
885,Q,"Rice, Mrs. William (Margaret Norton)",3,female,0.0,382652,True,Mr,Senior-citizen,High
886,S,"Montvila, Rev. Juozas",2,male,0.0,211536,True,None,Adult,Medium
887,S,"Graham, Miss. Margaret Edith",1,female,1.0,112053,False,Miss,Child,High
888,S,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,0.0,W./C. 6607,True,Miss,Adult,Medium
889,C,"Behr, Mr. Karl Howell",1,male,1.0,111369,False,Mr,Adult,High
890,Q,"Dooley, Mr. Patrick",3,male,0.0,370376,True,Mr,Senior-citizen,Low

In [12]:
data=pd.get_dummies(data,drop_first=True)

In [13]:
x=data.drop(["Survived"],axis=1)
y=data['Survived']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size = 0.3,random_state = 3)

In [15]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

c:\users\prateek\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [16]:
y_pred = classifier.predict(X_test)
score = classifier.score(X_test, y_test)
print(score)

0.7910447761194029